<div class="header">
  <h3 class="text-muted">chatty</h3>
</div>

<h4>Latest Chats:</h4>
<div class="jumbotron">

	<form>
		<input ng-model="newMessage" type="text" placeholder="Hello!"><input ng-model="user" type="text" placeholder="username">
    <button type="button" ng-click="addMessage(newMessage, user)" name="button">submit</button>
	</form>

	<div class='msg'ng-repeat="message in messages track by $index">
    <div class="msghead">
      <h4>{{message.user}}</h4> {{message.time | date: 'shortTime'}}
    </div>
    <h3>{{ message.message }} </h3>


  </div>

</div>
